[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
django-environ = "*"
django-import-export = "*"

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
