{% extends 'dogodki/base.html' %}
{% block title %}{{ dogodek.naslov }} · {{ block.super }}{% endblock title %}
{% block main %}
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-info-circle"></i> Podatki o dogodku
{% if user.is_staff %}
		<a href="{% url "admin:dogodki_app_dogodek_change" dogodek.pk %}" class="btn btn-danger btn-sm float-right ml-2"><i class="fas fa-edit"></i> Administracija</a>
		<a href="{% url "uredi_dogodek" dogodek.pk %}" class="btn btn-primary btn-sm float-right"><i class="fas fa-edit"></i> Uredi</a>
{% endif %}
	</div>
	<div class="card-body row">
		<div class="col-md-7">
			<h3>{{ dogodek.naslov }}</h3>
			<p class="mb-0">{{ dogodek.opis }}</p>
		</div>
		<div class="col-md-5">
			<div{% if poteklo %} class="text-danger"{% endif %}><i class="far fa-calendar-alt"></i> Rok prijave: {{ dogodek.rok_prijave }}</div>
			<div><i class="fas fa-list"></i> {{ dogodek.skupine.count }} {{ dogodek.skupine.count | pluralize:"skupina,skupin" }}</div> <!-- TODO: pluralize_pl -->
			<div><i class="fas fa-users"></i> {{ dogodek.število_mest }} mest, {{ dogodek.število_navoljo }} na voljo</div>
			<div class="text-{{ povabilo.skupina|yesno:"success,danger"}}"><i class="fas fa-list"></i> Skupina: {{ povabilo.skupina.naslov|default:"niste še prijavljeni!" }}</div>
		</div>
	</div>
</div>

<form method="POST" action="{% url 'dogodek_prijava' dogodek.pk %}" class="card-columns">
{% csrf_token %}
{% for skupina in skupine %}
	<div class="card {% if skupina.moja %} border-success{% endif %}">
		<div class="card-header justify-content-between">
			<div class="{% if skupina.polna %}text-danger{% endif %}{% if skupina.moja %}text-success{% endif %}">
				<i class="fas fa-users"></i> {{ skupina.naslov }} 
				<span class="badge float-right badge-{{ skupina.polna|yesno:"danger,primary" }}">{{ skupina.število_prijavljenih }} / {{ skupina.število_mest }}</span>
			</div>
			{% if skupina.opis %}
			<small class="card-body p-0">
				<p class="card-text mt-2">
					{{ skupina.opis }}
				</p>
			</small>
			{% endif %}
		</div>
		<ul class="list-group list-group-flush">
	{% for prijava in skupina.prijavljeni %}
		{% if not poteklo and prijava.jaz %}
			<li class="list-group-item list-group-item-success d-flex justify-content-between">
				{{ prijava.uporabnik }}
				<button type="submit" name="skupina" value="" class="btn btn-sm btn-danger">Odjava</button>
			</li>
		{% else %}
			<li class="list-group-item list-group-item-light">{{ prijava.uporabnik }}</li>
		{% endif %}
	{% endfor %}
	{% if not skupina.moja %}
		{% if skupina.polna %}
			<li class="list-group-item list-group-item-light small bg-light text-danger">Ni več prostih mest!</li>
		{% elif not poteklo and povabilo and not povabilo.skupina %}
			<li class="list-group-item bg-light">
				<button type="submit" name="skupina" value="{{ skupina.pk }}" class="btn btn-block btn-primary">Prijava</button>
			</li>
		{% endif %}
	{% endif %}
		</ul>
	</div>
{% endfor %}
</form>
{% endblock main %}
