{% extends "admin/import_export/import.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}
{% load static %}

{% block content %}
<pre>
Navodila za uporabo:
(Opozorilo: Zaradi nezanesljivosti bralnikov datoteke "xlsx" (Microsoft Excel) niso podprte. Trenutno je podprt samo format "xls" (Microsoft Excel 2003))

Priprava datoteke:
+ eAsistent podatke izvaža v nestandardnem formatu, zato jih je pred uvozom potrebno pripraviti +
1. Prenešeno datoteko iz eAsistenta odprite v programu za urejanje preglednic (npr. Microsoft Excel)
2. Izbrišite eAsistent logotip
3. Datoteko shranite v enem izmed podprtih formatov

Uvoz:
Izberite datoteko za uvoz, v spustnem meniju izberite ustrezen format in kliknite gumb "Submit".
Ko se vam prikaže tabela preverite, če so podatki pravilni. Ko ste v to prepričani, uvoz potrdite z gumbom "Confirm import".
</pre>
{{ block.super }}
{% endblock %}
